{
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "none"
}
